@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,500;8..144,700&display=swap');
 
*{

}

body{
    font-family: 'Nunito', sans-serif;
}

h1{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 40px 0px;
    margin-left: 500px;
}
h2{
    margin: 40px 0px;
    margin-left: 500px;
}
.navegation{
    background-color:whitesmoke;
    width: 110%;
    height: 110px;
}
.navegation ul li {
    list-style: none;
    text-decoration: none;
    position:relative;
    display: inline-block;
    margin: 85px 85px;
    justify-content: space-between;


}
.navegation ul li a {
    color: blue;
    text-decoration: none;
    margin: relative;
}
.logo-del-emprendimiento{
    width: 1000px;
    height: 1000px;
    
}
.footer{
    background-color: whitesmoke;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: auto;
}

.link-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





